<div class="col-sm-4" ng-controller="UserFriendsController">
    <h1>Your friends:</h1>
    <div ng-repeat="friend in friends">
        <div class="friendEntry">
            <p><a href="/api/users/{{ friend.username }}/">{{ friend.username }}</a></p>
        </div>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="CurrentUserService.newFriend.username" placeholder="Add friend">
            <p ng-show="newFriendError['username']" ng-bind="CurrentUserService.newFriendError['username']" class="alert alert-danger"></p>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="AddFriend()">Add Friend</button>
        </div>
    </form>
</div>