<h1>Your posts</h1>
<form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="newPost.body" placeholder="Add post">
    </div>
    <div class="form-group">
        <button class="btn btn-default" ng-click="Post()">Post</button>
    </div>

    <p ng-repeat="(name, errs) in newPostError" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
</form>

<div ng-include="'pages/postList.html'"></div>

<button class="btn btn-default" ng-show="pageNumber > 0" ng-click="getPosts()">More posts</button>
<div class="alert alert-info" ng-show="pageNumber == 0">No more posts</div>
<p ng-repeat="(name, errs) in postsLoadError" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
